alabaster==0.7.13
autopep8==2.0.2
Babel==2.12.1
bleach==6.0.0
cached-property==1.5.2
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
cryptography==40.0.2
cx-Freeze==6.14.9
docutils==0.20.1
exceptiongroup==1.1.1
GB-Chat-project-client @ file:///home/ural-fox/Projects/GB-AsincChat/FINAL/GB-Asinc_project/Client_app/dist/GB_Chat_project_client-0.0.1-py3-none-any.whl#sha256=a87866580b86c3a2a20d121464979536566712059680da475e1779d8bc2c2134
GB-Chat-project-server @ file:///home/ural-fox/Projects/GB-AsincChat/FINAL/GB-Asinc_project/Server_app/dist/GB_Chat_project_server-0.0.1-py3-none-any.whl#sha256=a234730b0c108d79ad88972c2a5a887f812bf854a27da233018e7a97907d5943
greenlet==2.0.2
idna==3.4
imagesize==1.4.1
importlib-metadata==6.6.0
inflection==0.5.1
iniconfig==2.0.0
jaraco.classes==3.2.3
jeepney==0.8.0
Jinja2==3.1.2
keyring==23.13.1
markdown-it-py==2.2.0
MarkupSafe==2.1.2
mdurl==0.1.2
more-itertools==9.1.0
mypy-extensions==1.0.0
packaging==23.1
patchelf==0.17.2.1
pkginfo==1.9.6
pluggy==1.0.0
pycodestyle==2.10.0
pycparser==2.21
Pygments==2.15.1
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.1
pytest==7.3.1
python-dotenv==1.0.0
PyYAML==6.0
readme-renderer==37.3
requests==2.30.0
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.3.5
SecretStorage==3.3.3
six==1.16.0
snowballstemmer==2.2.0
Sphinx==7.0.1
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==2.0.12
sqlalchemy-orm==1.2.8
tabulate==0.9.0
tomli==2.0.1
twine==4.0.2
typing-inspect==0.8.0
typing_extensions==4.5.0
urllib3==2.0.2
webencodings==0.5.1
zipp==3.15.0
